nav {
    min-height: 10vh; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
        background: transparent;
        cursor: pointer;
        border: 2px solid rgb(10, 10, 10);
        border-radius: 14px;
        padding: 0.5rem 0.8rem;
        transition: all 0.3s ease;
        &:hover {
            background: #45B1AA;
        }
    }

    .music-icon{ 
        margin-bottom: -5px;
        padding: 0 5px;
    }

}

@media screen and (max-width: 768px) {
    nav {
        button {
            z-index: 10;
        }
    }
}
