nav {
    min-height: 10vh; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
        background: transparent;
        cursor: pointer;
        border: 2px solid rgb(65, 65, 65);
        border-radius: 14px;
        padding: 0.5rem;
        transition: all 0.3s ease;
        &:hover {
            background: rgb(174, 221, 232);
        }
    }

    .music-icon{ 
        margin-bottom: -5px;
        padding: 0 5px;
    }

}

@media screen and (max-width: 768px) {
    nav {
        button {
            z-index: 10;
        }
    }
}
